body{
 background-color: rgb(67, 229, 235);
   border: 10px ;
   width: 80%;
   margin: 80px 450px ;
   top: auto;
}
/* Estilos para los contenedores */
.caja-container {
  background-color: #c0f309;
  display: inline-block;
  margin: 20px;
  padding: 20px;
  width: 30%;
  border: 1px solid #000;
}


/* Estilos para los inputs */
.caja-container input {
  
  margin-left: 10px;
}


/* Estilos para el contenedor de resultado */
#resultado-container img {
  background-color: #a52cdd;
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
  border: 1px solid #000;
  width: 100px; /* Cambia esto al ancho que desees */
  height: 100px;
  position:  absolute;
  left: 800px;
  top: 200px;

}

/* Estilos para los divs individuales dentro del contenedor */
#resultado-container #resultado{
  width: 100px; /* Ajusta esto al ancho que desees */
  height: 100px; /* Ajusta esto a la altura que desees */
  position:  absolute;
  left: 850px;
  top: 200px;

}



/* Estilos para los contenedores de personajes */
.personaje-container {
  background-color: #dd2c2c;
  display: inline-block; /* Hace que los elementos se alineen horizontalmente */
  margin-right: 150px; /* Añade un margen a la derecha de cada personaje */
  border: 1px #000 solid;
  left: 500px;
  top: 200px;
  position: absolute;
}

/* Puedes aplicar un estilo adicional para el último personaje para eliminar el margen derecho */
.personaje-container1 {
  margin-right: 100;
  border: 1px  #000 solid;
  background-color: #dd2c2c;
  display: inline-block; /* Hace que los elementos se alineen horizontalmente */
  margin-right: 100px; /* Añade un margen a la derecha de cada personaje */
  border: 1px #000 solid;
  left: 1000px;
  top: 200px;
  position: absolute;
}


